<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<!--<div class="demo">-->
<!--  <div>Start Date: {{ startDate | date: 'MMM dd yyyy' }}</div>-->

<!--  <div> {{ price | currency: 'EUR' }}</div>-->

<!--  <div> Percentage: {{ rate | percent }}</div>-->
<!--</div>-->

<button (click)="onCoursesEdited()">Edit Courses</button>

<div class="courses" *ngIf="courses[0] as course">
  <course-card #cardRef1
               (courseSelected)="onCourseSelected($event)"
               [course]="course"
  >
    <course-image [src]="course.iconUrl"></course-image>
    <course-image [src]="courses[1].iconUrl"></course-image>
    <course-image [src]="courses[2].iconUrl"></course-image>

    <div class="course-description">
      {{ course.longDescription }}
    </div>
  </course-card>

  <!--    @for (course of courses; track course; let i = $index; let isFirst = $first; let isLast = $last; let isEven = $even; let isOdd = $odd) {-->
  <!--      <course-card-->
  <!--        (courseSelected)="onCourseSelected($event)"-->
  <!--        [course]="course"-->
  <!--        [index]="i + 1"-->
  <!--        [class.is-first]="isFirst"-->
  <!--        [class.is-last]="isLast"-->
  <!--        [class.is-even]="isEven"-->
  <!--        [class.is-odd]="isOdd"-->
  <!--      />-->
  <!--    }-->
</div>


